.home-container {
font-family: The Antiqua B, Georgia, Droid-serif, serif;
  color: black;
  padding: 0;
  margin: 0;
  display:flex;
}
.home-container .hel{
  color: red;

}

 #pubimg{
        width:100%;
        height:  max-content;
        display: inline-block;
        margin-top: 20px;
        background-color: white;
        padding: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.12);

  }
.meresection{
  flex: 3;
  width:90%
}
.popup-ad {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  border: 2px solid #00b300;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 30%;
  height: auto;
}



.plusieurs{
  width: 98%;
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}
.plus2{
  width: 100%;
  height: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 8px;
  padding: 10px;
  background-image: url('https://gabonactu.com/wp-content/uploads/2025/08/materiel-medical-pog.jpg')
}
.plus2 h1{
  color: white;
  background-color: blue;
  font-size: 16px;
  width: 80%;
  padding: 5px;
  margin-top: 50%;
  text-align: center;
}
.plus2 h4{
  color: white;
  text-shadow: 1px 1px #333;
}
.plus2 p{
  color: white;
  background-color: red;
  width: max-content;
  margin-top: 10px;
  padding: 2px;
  text-align: center;
}
.plus2 a{
  text-decoration: none;
}

.plus1{
  width: 40%;
  height: 300px;
}
.plus21{
  width: 25%;
  height: 450px;
  overflow: hidden;
  display: block;
}
.plus3{
  width: 30%;
  height: 450px;
  overflow: hidden;
  display: block;
}
.plus3 a{
  text-decoration: none;
}
.plus3enf{
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom:10px ;
  padding: 10px;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://gabonactu.com/wp-content/uploads/2025/08/Tresor-public-de-Kango.jpg');

 
}
.plus3enf h1{
  color: white;
  background-color: blue;
  font-size: 16px;
  width: 50%;
  padding: 5px;
  text-align: center;
}
.plus3enf h4{
  color: white;
  text-shadow: 1px 1px #333;

}
.plus3enf p{
  color: white;
  background-color: red;
  width: max-content;
  padding: 2px;
  margin-top: 10px;
  text-align: center;
}

.plus3en{
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://gabonactu.com/wp-content/uploads/2025/02/WhatsApp-Image-2025-02-14-at-11.38.17.jpeg');

 
}
.plus3en h1{
  color: white;
  background-color: blue;
  font-size: 16px;
  width: 50%;
  padding: 5px;
  text-align: center;
}
.plus3en h4{
  color: white;
  text-shadow: 1px 1px #333;
}
.plus3en p{
  color: white;
  background-color: red;
  width: max-content;
  padding: 2px;
  text-align: center;
  margin-top: 10px;
}




/* Section Titre */
section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  border-left: 5px solid red;
  padding-left: 10px;
  font-family: The Antiqua B, Georgia, Droid-serif, serif;
}

/* Éditorial */
.editorial-section {
  padding: 50px 20px;
  display: block;
  width: 100%;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
}

.story-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.story-card h3 {
  font-size: 18px;
  margin: 15px 10px 5px;
  color: red;
}

.story-card p {
  font-size: 14px;
  padding: 0 10px 15px;
  line-height: 1.5;
}

/* À la loupe */
.focus-section {
  padding: 40px 20px;
}
.focusmere{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.focusmere2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2%;
}
.focus-card a {
 color: black;
 text-decoration: none;


}
.focus-card a:hover{
  color:rgba(0, 0, 0, 0.404);
}
.focus-card {
  display: flex;
  align-items: center;
  width: 49%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
  justify-content: space-around;
  position: relative;
  height: 180px;
  overflow: hidden;
}
.focustext{
  width: 50%;
}


.focusimg1{
  background-image: url("https://gabonactu.com/wp-content/uploads/2025/05/WhatsApp-Image-2025-05-20-at-14.20.18.jpeg");
 background-size: cover;
 width: 40%;
 background-position: center;
 height: 100px;
}
.focusimg3{
  background-image: url("https://gabonactu.com/wp-content/uploads/2025/05/WhatsApp-Image-2025-05-20-at-12.41.24.jpeg");
 background-size: cover;
 width: 40%;
 background-position: center;
 height: 100px;
}

.focusimg5{
  background-image: url("https://gabonactu.com/wp-content/uploads/2025/05/WhatsApp-Image-2025-05-20-at-05.39.47-1.jpeg");
 background-size: cover;
 width: 40%;
 background-position: center;
 height: 100px;
}
.focusimg6{
  background-image: url("https://gabonactu.com/wp-content/uploads/2023/09/drapeau-gabonais.jpg");
 background-size: cover;
 width: 40%;
 background-position: center;
 height: 100px;
}
.date{
  color: gray;
}
.focus-card h3 {
  margin: 0 0 8px;
  font-size: 16px;
  color: red;
  text-transform: uppercase;
}
.focus-card p{
  font-weight: 500;
  font-size: 15px;
}

/* Vidéos */
.video-section {
  padding: 0 20px;
}

.video-gride {
  display: flex;
  width: 100%;

  justify-content: space-around;
}

.video-carde {
  background: white;
  padding: 10px;
  border-radius: 8px;
  width: 20%;
  height: max-content;
  transition: box-shadow 0.3s ease;
}

.video-carde:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.video-carde iframe {
  width: 100%;
  height: max-content;
  border-radius: 6px;
}

.video-carde p {
  margin-top: 10px;
  font-size: 19px;
  color: black;
}



/* Responsive uniquement mobile */
@media (max-width: 768px) {
  
  .plusieurs {
    flex-direction: column;
    height: auto;
  }
  .plus1 {
    width: 94%;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .plus2 {
    width: 100%;
    margin-bottom: 40px;
  }
  
  .plus2 h1{
    text-shadow: 1px 1px 2px black;

  }
  .plus2 h4{
    color: white;
  }
  .plus2 p{
    text-shadow: 1px 1px 2px black;

  }
  .plus21{
    width: 94%;
    overflow: hidden;
    height: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .plus3 {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
  }
  .plus3enf h1, .plus3enf p,
.plus3en h1, .plus3en p {
  text-shadow: 1px 1px 2px black;
}

.plus3enf, .plus3en {
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

 
  .plus3enf h4{
    color: white;
  }

 

.home-container {
      flex-direction: column;
      background-color: white;

}
.meresection{
  width:100%
}
  .sidebar-ads {
    position: relative;
    top: auto;
    display: block;
    width: 100%;
  }
  #pubimg{
        width:100%;
        height: 400px;
        display: inline-block;
        margin-top: 20px;

  }
  .sidebar-ads a{
    width: 100%;
  }



/* Section Titre */
section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  border-left: 5px solid red;
  padding-left: 10px;
}

/* Éditorial */
.editorial-section {
  padding: 30px 10px;
  background-color: #fff;
}



.story-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.story-card h3 {
  font-size: 18px;
  margin: 15px 10px 5px;
  color: #c30000;
}

.story-card p {
  font-size: 14px;
  padding: 0 10px 15px;
  line-height: 1.5;
}

/* À la loupe */
.focus-section {
  background-color: #fff;
  padding: 30px 10px;

}
.focusmere{
  display: block;
}
.focusmere2{
  display: block;
}

.focus-card {
  display:block;
  gap: 20px;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
  width: 100%;
  margin-bottom: 8px;
  height: max-content;

}

.focusimg1 {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.focustext{
  width: 100%;
}

.focusimg2{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.focusimg3{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
.focusimg4{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
.focusimg5{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
.focusimg6{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}
.focus-card h3 {
  font-size: 18px;
  margin-top: 5px;
  color: red;
  text-align: start;

}
.focus-card p {
  
  font-size: 16px;
  color: black;
  text-align: start;

  
}

/* Vidéos */
.video-section {
  padding: 20px 10px;
  background-color: #fff;
}

.video-gride {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
}

.video-carde {
  background: #f0f0f0;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  margin-top:15px;

}

.video-carde:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.video-carde iframe {
  width: 100%;
  height: 200px;
  border-radius: 6px;
}

.video-carde p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}


  }

