body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #222;
  }
  
  .mere {
    background-color: black;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 30px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  .bold{
   display: flex;
  }
    
 nav img{
    height: 115px;
 }